# FIFA CASE

“Defenders often need to be physically strong in order to compete and progress in 
the world cup”.

## Imports Python Packages

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from fuzzywuzzy import fuzz

/Users/guozixian/opt/anaconda3/lib/python3.9/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

## Player Data for the 2018 world cup

First, we import all the players that played during the last world cup (2018).

In [3]:
df_fifa = pd.read_csv("fifadata.csv")

In [4]:
df_fifa.Position.unique()

array(['GK', 'DF', 'MF', 'FW'], dtype=object)

In [5]:
# to Only Select defenders
df_fifa = df_fifa[df_fifa['Position'] == "DF"]
df_fifa['Date Of Birth'] = pd.to_datetime(df_fifa['Date Of Birth'])

In [6]:
df_fifa

,Team,Group,Squad Number,Position,Player,Date Of Birth,Age,Caps,Goals,Club,Player Count
1,Egypt,A,2,DF,Ali Gabr,1989-01-01,29,20,1,West Bromwich Albion,1
2,Egypt,A,3,DF,Ahmed Elmohamady,1987-09-09,30,77,2,Aston Villa,1
5,Egypt,A,6,DF,Ahmed Hegazi,1991-01-25,27,44,1,West Bromwich Albion,1
6,Egypt,A,7,DF,Ahmed Fathy,1984-11-10,33,125,3,Al Ahly,1
11,Egypt,A,12,DF,Ayman Ashraf,1991-04-09,27,4,0,Al Ahly,1
...,...,...,...,...,...,...,...,...,...,...,...
715,Senegal,H,3,DF,Kalidou Koulibaly,1991-06-20,26,24,0,Napoli,1
716,Senegal,H,4,DF,Kara Mbodji,1989-11-22,28,51,5,Anderlecht,1
724,Senegal,H,12,DF,Youssouf Sabaly,1993-03-05,25,3,0,Bordeaux,1
733,Senegal,H,21,DF,Lamine Gassama,1989-10-20,28,35,0,Alanyaspor,1
734,Senegal,H,22,DF,Moussa Wagué,1998-10-04,19,9,0,Eupen,1

In [7]:
df_fifa.Club.unique()

array(['West Bromwich Albion', 'Aston Villa', 'Al Ahly', 'Al-Fateh',
       'Zamalek', 'CSKA Moscow', 'Spartak Moscow', 'Akhmat Grozny',
       'Rubin Kazan', 'Zenit Saint Petersburg', 'Al-Ahli', 'Al-Hilal',
       'Al-Nassr', 'Atlético Madrid', 'Peñarol', 'Independiente', 'Porto',
       'Sporting CP', 'Lazio', 'Olympiacos', 'Esteghlal', 'Al-Sadd',
       'Padideh', 'Oostende', 'Real Madrid', 'Lille',
       'İstanbul Başakşehir', 'Juventus', 'Wolverhampton Wanderers',
       'Fenerbahçe', 'Rangers', 'Beşiktaş', 'Borussia Dortmund',
       'Dalian Yifang', 'Benfica', 'Napoli', 'Southampton', 'Barcelona',
       'Real Sociedad', 'Chelsea', 'Arsenal', 'Yokohama F. Marinos',
       'Millwall', 'Suwon Samsung Bluewings', 'Bursaspor',
       'Western Sydney Wanderers', 'Grasshoppers',
       'Borussia Mönchengladbach', 'Sevilla', 'Ipswich Town',
       'Huddersfield Town', 'Brentford', 'Udinese', 'VfB Stuttgart',
       'Paris Saint-Germain', 'Marseille', 'Monaco', 'Manchester City',
       'Atlético Junior', 'Universitario', 'Puebla', 'Alianza Lima',
       'Flamengo', 'Veracruz', 'Lobos BUAP', 'Melgar', 'Ajax', 'Torino',
       'Roma', 'Hebei China Fortune', 'Manchester United', 'Sampdoria',
       'Lokomotiv Moscow', 'Liverpool', 'Bayer Leverkusen',
       'Red Bull Salzburg', 'Dynamo Kyiv', 'Valur', 'Rostov', 'Aberdeen',
       'Levski Sofia', 'Bristol City', 'Lokeren', 'Amkar Perm',
       'Cercle Brugge', 'Mainz 05', 'Nantes', 'ADO Den Haag', 'Kasımpaşa',
       'Inter Milan', 'Grêmio', 'Corinthians', 'Águilas Doradas',
       'Bologna', 'Norrköping', 'Espanyol', 'Sunderland',
       'Minnesota United', 'Celtic', 'Vancouver Whitecaps FC',
       'New York City FC', 'Villarreal', 'Anderlecht', 'Werder Bremen',
       'Red Star Belgrade', 'Fiorentina', 'Toulouse', 'Basel', 'Milan',
       'Antalyaspor', 'Deportivo La Coruña', 'Hertha BSC', '1. FC Köln',
       'Bayern Munich', 'UANL', 'Eintracht Frankfurt', 'Atlas', 'América',
       'Jeonbuk Hyundai Motors', 'Sagan Tosu', 'Jeju United',
       'Seongnam FC', 'Ulsan Hyundai', 'Sangju Sangmu',
       'Guangzhou Evergrande', 'FC Tokyo', 'FC Seoul', 'Krasnodar',
       'Swansea City', 'Leeds United', 'Tottenham Hotspur',
       'Leicester City', 'New York Red Bulls', 'San Jose Earthquakes',
       'Seattle Sounders FC', 'Houston Dynamo', 'Dunajská Streda',
       'Olimpia', 'Municipal', 'CS Sfaxien', 'Dijon', 'Étoile du Sahel',
       'Gent', 'Pachuca', 'PSV Eindhoven', 'Girona', 'Boca Juniors',
       'Kashima Antlers', 'Galatasaray', 'Urawa Red Diamonds',
       'Hamburger SV', 'Legia Warsaw', 'SPAL', 'Valenciennes', 'Bordeaux',
       'Alanyaspor', 'Eupen'], dtype=object)

In [8]:
df_fifa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 248 entries, 1 to 734
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Team           248 non-null    object
 1   Group          248 non-null    object
 2   Squad Number   248 non-null    int64
 3   Position       248 non-null    object
 4   Player         248 non-null    object
 5   Date Of Birth  248 non-null    datetime64[ns]
 6   Age            248 non-null    int64
 7   Caps           248 non-null    int64
 8   Goals          248 non-null    int64
 9   Club           248 non-null    object
 10  Player Count   248 non-null    int64
dtypes: datetime64[ns](1), int64(5), object(5)
memory usage: 23.2+ KB

In [9]:
df_fifa.Team.unique()

array(['Egypt', 'Russia', 'Saudi Arabia', 'Uruguay', 'Iran', 'Morocco',
       'Portugal', 'Spain', 'Australia', 'Denmark', 'France', 'Peru',
       'Argentina', 'Croatia', 'Iceland', 'Nigeria', 'Brazil',
       'Costa Rica', 'Serbia', 'Switzerland', 'Germany', 'Mexico',
       'South Korea', 'Sweden', 'Belgium', 'England', 'Panama', 'Tunisia',
       'Colombia', 'Japan', 'Poland', 'Senegal'], dtype=object)

In [10]:
df_fifa.nunique()

Team              32
Group              8
Squad Number      20
Position           1
Player           248
Date Of Birth    237
Age               21
Caps              89
Goals             14
Club             157
Player Count       1
dtype: int64

## Importing Player Data

We then import individual player data in general.

In [11]:
df_players = pd.read_csv("players_18.csv")
df_players['dob'] = pd.to_datetime(df_players['dob'])

In [12]:
df_players

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club_name,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,32,1985-02-05,185,80,Portugal,Real Madrid,...,66+4,62+4,62+4,62+4,66+4,61+4,53+4,53+4,53+4,61+4
1,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,30,1987-06-24,170,72,Argentina,FC Barcelona,...,62+4,59+4,59+4,59+4,62+4,57+4,45+4,45+4,45+4,57+4
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar,Neymar da Silva Santos Júnior,25,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,64+4,59+4,59+4,59+4,64+4,59+4,46+4,46+4,46+4,59+4
3,167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,Manuel Neuer,31,1986-03-27,193,92,Germany,FC Bayern München,...,36+4,41+4,41+4,41+4,36+4,34+4,33+4,33+4,33+4,34+4
4,176580,https://sofifa.com/player/176580/luis-suarez/1...,L. Suárez,Luis Alberto Suárez Díaz,30,1987-01-24,182,86,Uruguay,FC Barcelona,...,68+4,65+4,65+4,65+4,68+4,64+4,58+4,58+4,58+4,64+4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,237463,https://sofifa.com/player/237463/adam-kelsey/1...,A. Kelsey,Adam Kelsey,17,1999-11-12,188,74,England,Scunthorpe United,...,18+1,18+1,18+1,18+1,18+1,17+1,17+1,17+1,17+1,17+1
17950,231381,https://sofifa.com/player/231381/jordan-young/...,J. Young,Jordan Young,17,1999-07-31,175,71,Scotland,Swindon Town,...,32+1,29+1,29+1,29+1,32+1,31+1,28+1,28+1,28+1,31+1
17951,240404,https://sofifa.com/player/240404/jack-keeble/1...,J. Keeble,Jack Keeble,18,1999-03-22,172,66,England,Grimsby Town,...,44+1,41+1,41+1,41+1,44+1,46+1,45+1,45+1,45+1,46+1
17952,11728,https://sofifa.com/player/11728/barry-richards...,B. Richardson,Barry Richardson,47,1969-08-05,185,77,England,Wycombe Wanderers,...,20+1,21+1,21+1,21+1,20+1,20+1,22+1,22+1,22+1,20+1
17953,235352,https://sofifa.com/player/235352/tommy-kassemo...,T. Käßemodel,Tommy Käßemodel,28,1988-08-09,173,75,Germany,FC Erzgebirge Aue,...,38+1,42+1,42+1,42+1,38+1,37+1,38+1,38+1,38+1,37+1

We want to select only the columns which would represent physical strength to answer the prompt.

In [13]:
df_players.columns.tolist()

['sofifa_id',
 'player_url',
 'short_name',
 'long_name',
 'age',
 'dob',
 'height_cm',
 'weight_kg',
 'nationality',
 'club_name',
 'league_name',
 'league_rank',
 'overall',
 'potential',
 'value_eur',
 'wage_eur',
 'player_positions',
 'preferred_foot',
 'international_reputation',
 'weak_foot',
 'skill_moves',
 'work_rate',
 'body_type',
 'real_face',
 'release_clause_eur',
 'player_tags',
 'team_position',
 'team_jersey_number',
 'loaned_from',
 'joined',
 'contract_valid_until',
 'nation_position',
 'nation_jersey_number',
 'pace',
 'shooting',
 'passing',
 'dribbling',
 'defending',
 'physic',
 'gk_diving',
 'gk_handling',
 'gk_kicking',
 'gk_reflexes',
 'gk_speed',
 'gk_positioning',
 'player_traits',
 'attacking_crossing',
 'attacking_finishing',
 'attacking_heading_accuracy',
 'attacking_short_passing',
 'attacking_volleys',
 'skill_dribbling',
 'skill_curve',
 'skill_fk_accuracy',
 'skill_long_passing',
 'skill_ball_control',
 'movement_acceleration',
 'movement_sprint_speed',
 'movement_agility',
 'movement_reactions',
 'movement_balance',
 'power_shot_power',
 'power_jumping',
 'power_stamina',
 'power_strength',
 'power_long_shots',
 'mentality_aggression',
 'mentality_interceptions',
 'mentality_positioning',
 'mentality_vision',
 'mentality_penalties',
 'mentality_composure',
 'defending_marking',
 'defending_standing_tackle',
 'defending_sliding_tackle',
 'goalkeeping_diving',
 'goalkeeping_handling',
 'goalkeeping_kicking',
 'goalkeeping_positioning',
 'goalkeeping_reflexes',
 'ls',
 'st',
 'rs',
 'lw',
 'lf',
 'cf',
 'rf',
 'rw',
 'lam',
 'cam',
 'ram',
 'lm',
 'lcm',
 'cm',
 'rcm',
 'rm',
 'lwb',
 'ldm',
 'cdm',
 'rdm',
 'rwb',
 'lb',
 'lcb',
 'cb',
 'rcb',
 'rb']

Thus, the only physical attributes here that we can use are height, and weight

## Merging the Datasets toghether

In [14]:
df_tgt = pd.merge(df_fifa, df_players, left_on = ['Date Of Birth', 'Team'] ,right_on = ['dob', 'nationality'])

In [15]:
df_names = df_tgt[['long_name', 'Player']]

In [16]:
df_names["ratio"] = 0

/var/folders/bb/7x1l6zmd3blblnxk0dz1d27h0000gn/T/ipykernel_55533/3399366239.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_names["ratio"] = 0

In [17]:
def matchscore(score1, score2):
    return fuzz.ratio(score1, score2)

In [18]:
for i in range(len(df_names)):
    value_1 = df_names.iloc[i, 0]
    value_2 = df_names.iloc[i, 1]
    df_names.iloc[i, -1] = matchscore(value_1, value_2)

In [19]:
df_names

                                long_name               Player  ratio
0    Ahmed Eissa El Mohamady Abdel Fattah     Ahmed Elmohamady     58
1                            Ahmed Hegazy         Ahmed Hegazi     92
2        Ahmed Fathy Abdel Meneim Ibrahim          Ahmed Fathy     51
3     Mohamed Abdul Shafy Sayed Abouezeid  Mohamed Abdel-Shafy     63
4                Saad Ali Saadeldin Samir           Saad Samir     59
..                                    ...                  ...    ...
223                       Łukasz Piszczek      Łukasz Piszczek    100
224                           Saliou Ciss          Saliou Ciss    100
225                     Kalidou Koulibaly    Kalidou Koulibaly    100
226                        Lamine Gassama       Lamine Gassama    100
227                          Moussa Wagué         Moussa Wagué    100

[228 rows x 3 columns]

In [20]:
df_names.to_excel("set.xlsx")

In [21]:
df_tgt

,Team,Group,Squad Number,Position,Player,Date Of Birth,Age,Caps,Goals,Club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,Egypt,A,3,DF,Ahmed Elmohamady,1987-09-09,30,77,2,Aston Villa,...,72+0,70+1,70+1,70+1,72+0,71+1,68+1,68+1,68+1,71+1
1,Egypt,A,6,DF,Ahmed Hegazi,1991-01-25,27,44,1,West Bromwich Albion,...,58+1,65+1,65+1,65+1,58+1,61+1,72+1,72+1,72+1,61+1
2,Egypt,A,7,DF,Ahmed Fathy,1984-11-10,33,125,3,Al Ahly,...,67+0,66+1,66+1,66+1,67+0,66+1,64+1,64+1,64+1,66+1
3,Egypt,A,13,DF,Mohamed Abdel-Shafy,1985-07-01,32,50,1,Al-Fateh,...,70+1,67+1,67+1,67+1,70+1,70+1,68+1,68+1,68+1,70+1
4,Egypt,A,20,DF,Saad Samir,1989-04-01,29,11,0,Al Ahly,...,65+1,64+1,64+1,64+1,65+1,68+1,69+1,69+1,69+1,68+1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Poland,H,20,DF,Łukasz Piszczek,1985-06-03,33,61,3,Borussia Dortmund,...,81+2,79+2,79+2,79+2,81+2,81+2,80+2,80+2,80+2,81+2
224,Senegal,H,2,DF,Saliou Ciss,1989-06-15,28,18,0,Valenciennes,...,68+1,66+1,66+1,66+1,68+1,68+1,68+1,68+1,68+1,68+1
225,Senegal,H,3,DF,Kalidou Koulibaly,1991-06-20,26,24,0,Napoli,...,70+1,73+1,73+1,73+1,70+1,74+1,83+1,83+1,83+1,74+1
226,Senegal,H,21,DF,Lamine Gassama,1989-10-20,28,35,0,Alanyaspor,...,67+1,66+1,66+1,66+1,67+1,67+1,66+1,66+1,66+1,67+1
227,Senegal,H,22,DF,Moussa Wagué,1998-10-04,19,9,0,Eupen,...,62+1,55+1,55+1,55+1,62+1,63+1,59+1,59+1,59+1,63+1

## Creating dataframe for analysis

In [22]:
results = pd.read_csv("Results.csv")

In [27]:
results.head(2)

   Country  Score
0  Uruguay      3
1   Russia      3

In [23]:
df_physical = df_tgt[['Team', 'Player', 'height_cm', 'weight_kg']]

In [28]:
df_physical.head(2)

    Team            Player  height_cm  weight_kg
0  Egypt  Ahmed Elmohamady        182         78
1  Egypt      Ahmed Hegazi        195         83

In [32]:
df_physical =  pd.merge(df_physical, results, left_on = 'Team', right_on = 'Country')

In [33]:
df_physical

        Team               Player  height_cm  weight_kg  Country  Score
0      Egypt     Ahmed Elmohamady        182         78    Egypt      1
1      Egypt         Ahmed Hegazi        195         83    Egypt      1
2      Egypt          Ahmed Fathy        175         72    Egypt      1
3      Egypt  Mohamed Abdel-Shafy        170         71    Egypt      1
4      Egypt           Saad Samir        185         76    Egypt      1
..       ...                  ...        ...        ...      ...    ...
223   Poland      Łukasz Piszczek        184         79   Poland      1
224  Senegal          Saliou Ciss        175         70  Senegal      1
225  Senegal    Kalidou Koulibaly        195         89  Senegal      1
226  Senegal       Lamine Gassama        181         74  Senegal      1
227  Senegal         Moussa Wagué        171         60  Senegal      1

[228 rows x 6 columns]

In [38]:
df_physical.groupby("Team").mean().groupby("Score").mean()

        height_cm  weight_kg
Score
1.0    182.937302  77.257778
2.0    182.323958  76.811806
3.0    184.341270  78.468254
4.0    182.733333  75.600000
5.0    188.428571  86.285714
6.0    186.833333  81.166667
7.0    183.636364  77.272727